body {
    background-color: rgba(169, 169, 169, 0.5);
    margin: 2%;
}

header {
    background-color:rgb(192, 192, 192);
    text-align: center;
}

nav {
    background-color: rgb(165, 165, 165);
    font-size: 110%;
    padding: 0.5%;
}
nav a{
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 275%;
    font-variant: small-caps;
}

h2 {
    font-size: 175%;
    font-variant: small-caps;
}

figure {
    display: block;
}

pre code {
    display: block;
    margin: 0 auto;
    padding:2%;
    font-family: monospace;
    font-size: 125%;
    line-height: 125%;
    color: whitesmoke;
    background-color: #616161;
    width: 90%;
    overflow: auto;
}

pre code strong {
        color: orange;
        font-family: monospace;
        font-size: 110%;
}

aside blockquote{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110%;
}

footer {
    background-color:rgb(192, 192, 192);
    text-align: center;
    padding: 1%
}